site_name: Blackfish
site_url: https://princeton-ddss.github.io/blackfish
repo_url: https://github.com/princeton-ddss/blackfish
copyright: Copyright &copy; 2024 Colin Swaney and The Trustees of Princeton University
theme:
  name: "material"
  logo: assets/img/logo.png
  favicon: assets/img/favicon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary:  white
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-2
        name: Switch to light mode
      primary:  white
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.footer
    - content.footnote.tooltips
    - content.code.copy
    - content.code.select
    - content.code.annotate
nav:
  - 'Home':
    - 'Welcome': 'index.md'
  - 'Setup':
    - Installation: 'setup/installation.md'
    - Management: 'setup/management.md'
  - 'User Guide':
    - Tutorials:
      - Command Line: 'getting_started.md'
      - Web Interface: 'examples.md'
      - Python API: 'examples.md'
      - REST API: 'examples.md'
    - 'Examples':
      - 'Text Generation': 'examples.md'
      - 'Speech Recognition': 'examples.md'
  - 'Contributing':
    - Guidelines: 'contrib/guidelines.md'
    - 'Developer Notes': 'contrib/developer_guide.md'
  - 'API Reference':
    - 'Core': 'api/core.md'
    - 'Services': 'api/services.md'
    - 'Jobs': 'api/jobs.md'
    - 'Usage': 'api/usage.md'
  # - 'REST API': 'openapi/swagger.md'
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_section_style: list
            show_root_heading: true
            show_source: false
            show_signature_annotations: true
  # - git-revision-date-localized:
  #     enable_creation_date: true
  - swagger-ui-tag:
      supportedSubmitMethods: []
  - mike
markdown_extensions:
  - footnotes
  - admonition
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
      anchor_linenums: true
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra:
  version:
    provider: mike
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
extra_css:
  - assets/css/extra.css
