.md-header__button.md-logo img, .md-header__button.md-logo svg {
    fill: currentcolor;
    display: block;
    height: 2.0rem;
    width:auto
}

.language-pycon .gp, .language-pycon .go { /* Generic.Prompt, Generic.Output */
    user-select: none;
    -webkit-user-select: none;
}
